.head {
    font-family: 'Source Code Pro', monospace;
}
p{
    font-family: 'Euphoria Script', cursive;
}
table{
    border: 1mm solid;
    margin-top: 5cm;
    margin-left: 50%;
}
#image{
    margin-left: 40%;
}
body{
    background-color: lightblue;
}